.container{
    padding: 4rem 2rem ; 
    background-color: #1D1F2A;
    h2{
     font-size: 30px;
     color: #FFFFFF;
     font-weight: 100;
     margin: 0;
    }
    h5{
     padding: 1.5rem 0;
     padding-bottom: 2rem;
     font-size: 16px;
     font-weight: 100;
     color: #FFFFFF;
     margin: 0;
    }
    p{
     font-size: 14px;
     font-weight: 100;
     color: #FFFFFF;
     margin: 0;
     line-height: 20px;
    }
    .text_container{
        padding: 2rem 0;
        padding-top: 3rem;
        button{
            margin-top: 2rem;
    }
 
 }
}

@media (min-width: 800px) {
    .container{
        padding: 4rem; 
        h2{
         font-size: 44px;
        }
        h5{
        padding: 2rem 0 0 6rem;
         font-size: 24px;
         width: 80%;
         line-height: 32px;
        }
        .flex_container{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 4rem 0;
            div{
                min-width: 400px !important;
                width: 30vw !important;
            }
            .img_container{
                padding-left: 6rem;
            }
        }
        .text_container{
            padding: 0;
            p{
                font-size: 16px;
                line-height: 21px;
            }
        }
         hr{
         display: none; 
         }
     }
}
@media (min-width: 1100px) {
    .container{
        padding: 6rem 8rem; 
    }
    .flex_container{
        justify-content: center;
        div{
            min-width: 450px !important;
            width: 450px !important;
        }
        .img_container{
            padding-left: 10rem;
        }
    }
}

@media (min-width: 1600px) {
    .container{
        padding: 6rem 14rem; 
    }
}