
@font-face {
  font-family: 'Muli';
  src: local('Muli'), url(./components/fonts/Muli/Muli-Regular.woff)  format('woff');
}

@font-face {
  font-family: 'Newzald';
  src: local('Newzald'), url(./components/fonts/Newzald/NewzaldTest-Medium.woff)  format('woff');
}

body, html {
  overflow-x: hidden !important;
  margin: 0;
  font-family: 'Muli', sans-serif;
  font-size: 18pt;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  background-color: transparent;
  border: none;
}

h1, h2, h3, h4{
  font-family: 'Newzald', 'Times New Roman', Times, serif;
  font-weight: lighter;
}

h2{
  font-size: 7.5vw;
}

h3{
  font-size: 4.15vw
}

h4{
  font-size: 2.6vw;
  transition: transform .2s; /* Animation */
}

h2:hover{
text-align: center;
}