
.container{
    background-color: #1D1F2A;
    padding: 4rem 2rem;
    position: relative;
    p{
        padding: 1rem 0;
        color: #FFFFFFB3;
        font-size: 16px;
        text-align: left;
    }
}
.contact{
    padding-bottom: 4rem;
    h3{
        padding-top: 2rem;
        color: white;
        font-size: 18px;
        margin: 0;
    }
    .contact_div{
        display: flex;
        height: fit-content;
        padding-top: 1.5rem;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .contact_icons{
        color:#FBD872;
        margin-right: 2rem;
        div{
            width: .9rem;
            height: auto;
        }
    }
    .locationIcon{
        width: .7rem !important;
    }
    p{
        margin: 0;
        padding: 0;
        width: 70vw;
    }
}
.follow_container{
    padding-top: 1rem;
    width: 60vw;
    bottom: 10vh;
    h3{
        color: white;
        margin: 0;
        font-size: 18px;
    }
}

.media_list{
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    color: #FBD872;
    list-style-type: none;
    li{
        padding: .3rem;
        width: 36px;
        height: 36px;
        text-align: center;
    }
}

.copyright{
    padding-top: 2rem;
    p{
        color: #FFFFFF;
        margin: 0;
        padding: 0;
    }
}