header{
    background-color: #1D1F2A;
    height: auto;
    width: 100vw;
    padding: 1.5rem 2rem;
    position: fixed;
    z-index: 99999;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.logo{
    width: 8.5rem;
    height: auto;
}

.icon{
    width: 36px;
    height: 36px;
}

// Desktop Header
@media (min-width: 800px) {
    header{
        width: 100%;
        padding: 2rem 8rem;
    }
    .navBar{
        .logo_nav_container{
            display: flex;
            width: 450px;
            justify-content: space-between;
            align-items: center;
            a{
                outline: none !important;
                outline-color: transparent;
                text-decoration: none;
                font-weight: 100;
                width: fit-content;
                color: #FED880;
                font-size: 14px;
                &:hover{
                    color: white;
                }
            }
            .active{
                color: white;
            }
            .disabled{
                color: #FED880;
            }
        }
        button{
            margin: 0;
        }
        
    }
}