.container{
    height: 3000px;
.fixed_container{
    position: fixed;
    .image_container{
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        img{
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
        div{
            width: 100%;
            color: #D8D8D8;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .circle{
            width: 27vw;
            height: 27vw;
            border: 1px solid #D0D0D0;
            border-radius: 50%;
            border-style:dashed;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        footer{
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            bottom: 2vw;
            color: #d8d8d828;
            font-size: .6vw;
            display: flex;
            justify-content: center;
            align-items: center;
                img{
                    width: 100px;
                    height: 18.09px;
                    margin-left: .3rem;
                }    
            }
        }
    }     
}
