.button {
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        transition: all 0.3s ease;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        outline: none;
        cursor: pointer;
        border: 1px dashed #D0D0D0;
        background-color: transparent;
        svg{
          height: 300px;
          width: 300px;
        }
        .mouseIcon{
            width: 55px;
            height: auto;
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
      }
    .circle_progress {
        position: absolute;
        left: 0;
        top: 0;
      }
      @media (min-width: 870px) {
        .button {
          width: 27vw;
          height: 27vw;
          svg{
            height: 27vw;
            width: 27vw;
          }
          .mouseIcon{
              width: 69px;
              height: 78px;
              top: 80%;
              left: 50%;
          }
        }
      }