.container{
    margin: 300px auto;
    button{
        cursor: pointer;
        font-family: 'Newzald', 'Times New Roman', Times, serif;
        font-size: 40px;
        border-radius: 50%;
        background-color: transparent;
        width: 310px;
        height: 310px;
        border: 1px solid #AFAFAF;
    }
}