.container{
    margin: 15vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .cercle {
        border-radius: 50%;
        width: 0px;
        height: 0px;
        position: absolute;
        background: #D99E94;
      }
      .expansion {
        animation: touchMobile 1.5s ease-out;
        position: absolute;
        background: #D99E94;
      }
    .outline2{
        animation: heartbeat 5s infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        border: 1px solid #EAEAEA;
    }
    .outline{
        animation: heartbeat 5s infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border: 1px solid #DFDFDF;
    }
    button{
        animation: heartbeat 5s infinite;
        outline: none;
        z-index: 999;
        cursor: pointer;
        font-family: 'Newzald', 'Times New Roman', Times, serif;
        font-size: 40px;
        border-radius: 50%;
        background-color: transparent;
        width: 150px;
        height: 150px;
        border: 1px solid #AFAFAF;
    
    }
}

@media (min-width: 870px) {
  .container{
    margin: 300px auto;
      .expansion {
        animation: touch 1.5s ease-out;
      }
    .outline2{
        width: 476px;
        height: 476px;
    }
    .outline{
        width: 394px;
        height: 394px;
    }
    button{
        width: 310px;
        height: 310px;
    }
}
}

@keyframes touch {    
    0% { 
    border-radius: 50%;
    width: 0px;
    height: 0px;
    opacity: 0;
    }
    70% { 
    border-radius: 50%;
    width: 476px;
    height: 476px;
    opacity: 1;
    }
    100% { 
    border-radius: 50%;
    width: 800px;
    height: 800px;
    opacity: 0;
    }
  }

  @keyframes touchMobile {    
    0% { 
    border-radius: 50%;
    width: 0px;
    height: 0px;
    opacity: 0;
    }
    70% { 
    border-radius: 50%;
    width: 250px;
    height: 250px;
    opacity: 1;
    }
    100% { 
    border-radius: 50%;
    width: 400px;
    height: 400px;
    opacity: 0;
    }
  }

  @keyframes heartbeat
{
  0%
  {
    transform: scale( 1 );
  }
  20%
  {
    transform: scale( 1.03 );
  }
  40%
  {
    transform: scale( 1 );
  }
  60%
  {
    transform: scale( 1.03 );
  }
  80%
  {
    transform: scale( 1 );
  }
  100%
  {
    transform: scale( 1 );
  }
}