.video_container{
    position: relative;
    margin: 200px 0;
    .video{
        outline: none !important;
        width: 65vw;
        height: 40vw;
    }
    .video_container_img{
        margin: 0 auto;
        background-image: url("../images/foto1.jpg");
        background-size: cover;
        background-position: center;
        width: 65vw;
        height: 40vw;
        .play_icon{
            position: absolute ;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}