.container{
   padding: 2rem; 
   padding-bottom: 4rem;
   background-color: #F5F6FC;
   h2{
    font-size: 30px;
    color: #1D1F2A;
    font-weight: 400;
    margin: 0;
   }
   h4{
    font-size: 20px;
    color: #1D1F2A;
    font-weight: 400;
    margin: 0; 
   }
   h5{
    padding: 1.5rem 0;
    font-size: 16px;
    font-weight: 400;
    color: #1D1F2A;
    margin: 0;
   }
   p{
    font-size: 14px;
    color: #1D1F2AB3;
    margin: 0;
    line-height: 20px;
   }
    hr{
    width: 100%;
    margin-bottom: 1rem;
    display: block; height: 1px;
    border: 0; border-top: 1px solid #29292950;
    }
   .text_container{
       padding: 2rem 0;
       button{
        margin-top: 2rem;
    }
   }

}

@media (min-width: 800px) {
    .container{
        padding: 4rem; 
        h2{
         font-size: 44px;
        }
        h4{
         font-size: 24px;
         padding: 1rem 0 1rem 6rem;
         font-weight: 700;
        }
        h5{
        padding: 0 0 0 6rem;
         font-size: 24px;
         line-height: 32px;
         width: 80%;
        }
        .flex_container{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 4rem;
            div{
                min-width: 400px !important;
                width: 30vw !important;
            }
        }
        .text_container{
            padding: 0;
            padding-left: 4rem;
            .big_p{
                font-size: 24px;
                color: #1D1F2A;
                margin: 0;
                line-height: 32px;
            }
            p{
                font-size: 16px;
                line-height: 21px;
            }
        }
        
         hr{
         display: none; 
         }
     }
}
@media (min-width: 1100px) {
    .container{
        padding: 6rem 8rem; 
    }
    .flex_container{
        div{
            min-width: 450px !important;
            width: 450px !important;
        }
    }
    .text_container{
        padding-left: 6rem;
    }
}

@media (min-width: 1600px) {
    .container{
        padding: 6rem 14rem; 
    }
}